body {
    padding: 10px 10px;
    background-color: #f2f2f2;
}

.navbar-default {
    background-color: #fff;
    margin-bottom: 50px;
}

#table-header {
    background-color: orange;
}

.table {
    background-color: #fff;
}

#details_button {
    padding-left: 0;
}
