body {
    padding: 10px 10px;
    background-color: #f2f2f2;
}

.navbar-default {
    background-color: #fff;
    margin-bottom: 50px;
}

/* table */
#table-header {
    background-color: orange;
}

#table-header th {
    padding-top: 14px;
    padding-bottom: 14px;
}

#table-header,
#table-header a {
    color: #000;
}

#table-header a {
    text-decoration: none;
    color: #222;
    transition: color 150ms ease-in-out;
}

#table-header a:hover,
#table-header a:focus {
    color: #000;
    text-decoration: none;
}

/* table -> overwriting default color settings */
.table {
    background-color: #fff;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    padding: 7px 10px;
}


#details_button {
    padding-left: 0;
}


.actions-inline .btn {
    display: inline-block;
    width: auto;
}

.actions-inline .btn + .btn {
    margin-left: 6px;
}

.actions-inline {
    white-space: nowrap;
}


.pager li.active > a,
.pager li.active > a:hover,
.pager li.active > a:focus {
    background-color: #f0ad4e;
    border-color: #eea236;
    color: #fff;
}

/* single contact page */

#single-body {
	background-color: white;
	padding-top: 15px;
	padding-right: 15px;
	padding-bottom: 35px;
	margin-bottom: 30px;
	-webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}

/* bootstrap margin classes */
.mt-10 { margin-top: 10px; }
.mt-20 { margin-top: 20px; }
.mt-30 { margin-top: 30px; }
.mt-40 { margin-top: 40px; }
.mt-50 { margin-top: 50px; }
